{% extends "layout_exercise_template1.html" %}

{% block content %}


    <script type=text/javascript>
        
    </script>
    
    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        Welcome! I am ISLA -- Intelligent Story Layout Assistant. I have been given a great honor by participating in your class as a teaching tool! I will be assisting by providing story outlines for you -- the students -- to bring to life in a full-fledged short story.
        </div>
        
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    
    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        1. Choose a DOMAIN, which is essentially a story genre instance.
        </div>
        
        <!-- images here -->
        
      </div>
    </div>

    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        2. Choose a specific STORY OUTLINE. Take note of the <span class="font-weight-bold">Narrative ID</span> as you will need to include this in your final exercise output submission as a reference.
        </div>
        
        <!-- images here -->
        
      </div>
    </div>
    
    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        3. Write your story! The story outlines that I have genrated have helpful information such as current state, and current intention of the actors.
        </div>
        
        <!-- images here -->
        
      </div>
    </div>
    
    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        4. Answer the surver at the end of <span class="font-italic">each</span> STORY OUTLINE. This is very important for my friend's thesis manuscript, and we appreciate an honest assessment of my current abilities.
        </div>
        
        <!-- images here -->
        
      </div>
    </div>
    
    <div class="row pt-1">
      <div class="col-md-8">
        <div class="">
        5. Bonus! Answer MORE surveys from different STORY OUTLINES for extra credit!
        </div>
        
        <!-- images here -->
        
      </div>
    </div>
    
{% endblock content %}