{% extends "layout_exercise_template1.html" %}

{% block content %}

    <script type=text/javascript>
        function parse_hr_paragraph(raw_hr_paragraph, destination_id){
            
            //alert(raw_hr_paragraph)
            var outputHTML = ""
            raw_rows = raw_hr_paragraph.split(".")
            
            outputHTML = outputHTML + "<div class='content-section'>\n"
            
            for(var i=0; i<raw_rows.length-1; i++){
                outputHTML = outputHTML + "<span class='text-info'>[>]</span>" + raw_rows[i] + ".<br>\n"
            }
            
            outputHTML = outputHTML + "</div>\n"
            
            document.getElementById(destination_id).innerHTML = outputHTML
        }
        
        function parse_hr_paragraph_ext(raw_hr_paragraph, destination_id, mode){
            
            //alert(raw_hr_paragraph)
            var outputHTML = ""
            raw_rows = raw_hr_paragraph.split(".")
            
            outputHTML = outputHTML + "<div class='content-section'>\n"
            if(mode == "pos"){
                outputHTML = outputHTML + "<span class='font-italic text-info'>State predicates that were added by the action</span><br>\n"
            }
            
            if(mode == "neg"){
                outputHTML = outputHTML + "<span class='font-italic text-info'>State predicates that were removed by the action</span><br>\n"
            }
            
            for(var i=0; i<raw_rows.length-1; i++){
                if(raw_rows[i].length > 0){
                    if(mode == "pos"){
                        outputHTML = outputHTML + "<span class='text-success'>[+]</span> " + raw_rows[i] + ".<br>\n"
                    }
                    
                    if(mode == "neg"){
                        outputHTML = outputHTML + "<span class='text-danger'>[-]</span> " + raw_rows[i] + ".<br>\n"
                    }
                }
            }
            
            outputHTML = outputHTML + "</div>\n"
            
            document.getElementById(destination_id).innerHTML = outputHTML
        }
        
    </script>
    

    <div class="row pt-1">
      <div class="col-md-8">
        <div class="text-info">
        {{ narrative_instance.story_pattern }}
        </div>
        <div class="text-info">
        {{ narrative_instance.narrative_label }}
        </div>
      </div>
    </div>
    
    <div class="row pt-1">
      <div class="col-md-8">
        Action Sequence
        <a href="#action_sequence_content" data-toggle="collapse" aria-expanded="true" class="navbar-toggle btn btn-info btn-sm">
        <i class="fas fa-caret-down"></i>
        </a>
        <span class="font-italic text-info small">Default Outline</span>
        <br><br>
      </div>
    </div>
    
    <div class="row show" id="action_sequence_content">
      <div class="col-md-12">
        <div class="content-section">
    
            <div class="row">
              <div class="col-md-2 font-weight-bold">
                Narrative ID
              </div>
              <div class="col-md-10">
                [{{ narrative_instance.narrative_id }}]
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-2 font-weight-bold">
                Date Created
              </div>
              <div class="col-md-10">
                [{{ narrative_instance.date_created }}]
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-2 font-weight-bold">
                Generated By
              </div>
              <div class="col-md-10">
                [{{ narrative_instance.user_id }}]
              </div>
            </div>
            
            <div class="row font-weight-bold">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>


            
            <div class="row">
                <div class="col-md-12">
                    
                    <span class="text-info">Story pattern summary: </span>
                    <span>
                    {{ narrative_instance_summary.vacant1 }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                    {% autoescape false %}
                    {{ (hrsequence|first).hrparagraph }}
                    {% endautoescape %}
                    </p>
                </div>
            </div>
            
            <div class="row pt-1">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    {% if narrative_instance.map_label != None %}
                    <img class="" id="map_image" src="{{ url_for('static', filename='assets/'+narrative_instance.map_label+'.png') }}">
                    {% else %}
                    <p>
                    No location map information.
                    </p>
                    {% endif %}
                </div>
            </div>            

            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="tellability_string">
                    <div id="tellability_string_hr">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            
            
            <div class="row font-weight-bold">
                <div class="col-md-6">
                    Action
                </div>
                <div class="col-md-6">
                    Resulting State
                </div>
            </div>
            
        <!--
        class SolutionChapterInstanceAction(db.Model):
            id = db.Column(db.String(128), primary_key=True)
            chapter_id = db.Column(db.String(128), db.ForeignKey('solution_chapter_instance.id'))
            narrative_instance_id = db.Column(db.String(32), db.ForeignKey('narrative_instance.narrative_id'))
            
            action_string = db.Column(db.String(64))
            action_string_hr = db.Column(db.String(128))
        -->

        
            {% for chapter_instance_action in chapter_instance_actions %}
            

            {% if loop.index == 1 %}
                <script>
                    old_value = document.getElementById("tellability_string").value
                    document.getElementById("tellability_string").value = old_value + "I"
                    document.getElementById("tellability_string_hr").innerHTML = old_value + "I"
                </script>
            <div class="row">
                <div class="col-md-6">
                Initial State
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled components">
                        <li class="active">
                            <div>
                            <a href="#display_state1_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Full State
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state1_{{ loop.index }}">
                            <!--
                              <div class="content-section">
                              
                              </div>
                            -->
                            </div>
                            
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_all }}", "display_state1_{{ loop.index }}");
                            </script>
                            
                        </li>
                        
                        <li class="active">
                            <div>
                            <a href="#display_state4_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Normal Predicates Only
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state4_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_norm_only }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_norm_only }}", "display_state4_{{ loop.index }}");
                            </script>

                        </li>
                        <li class="active">
                            <div>
                            <a href="#display_state5_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Intention Predicates Only
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state5_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_intentions_only }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_intentions_only }}", "display_state5_{{ loop.index }}");
                            </script>

                        </li>
                    </ul>
                    
                </div>
                
            </div>
            
            {% else %}
                {% if chapter_instance_action.action_string != "none" %}
                
                
                
                <script>
                    //alert("{{ chapter_instance_action.action_string }}")
                    _raw_string = "{{ chapter_instance_action.action_string }}"
                    /*
                    _negative_emotion = [                    
                        "_resolve_emo_afraid"    ,
                        "_resolve_emo_berserk"   ,
                        "_resolve_emo_panic"     ,
                        "_resolve_emo_stressed"
                    ]
                    
                    _positive_emotion = [
                        "_resolve_emo_excited"    ,
                        "_resolve_emo_focused"
                    ]
                    */
                    
                    if(_raw_string.match("^get_[a-zA-Z]*")){
                        old_value = document.getElementById("tellability_string").value
                        document.getElementById("tellability_string").value = old_value + "a"
                        document.getElementById("tellability_string_hr").innerHTML = old_value + "a"
                    }else
                    if(_raw_string.match("^_resolve_emo_(excited|focused|not_afraid)")){
                        old_value = document.getElementById("tellability_string").value
                        document.getElementById("tellability_string").value = old_value + "+"
                        document.getElementById("tellability_string_hr").innerHTML = old_value + "+"
                        alert("{{ chapter_instance_action.action_string }}")
                        
                    }else
                    if(_raw_string.match("^_resolve_emo_(afraid|berserk|panic|stressed)")){
                        old_value = document.getElementById("tellability_string").value
                        document.getElementById("tellability_string").value = old_value + "-"
                        document.getElementById("tellability_string_hr").innerHTML = old_value + "-"
                    }else{
                        old_value = document.getElementById("tellability_string").value
                        document.getElementById("tellability_string").value = old_value + "?"
                        document.getElementById("tellability_string_hr").innerHTML = old_value + "?"
                    }
                    
                </script>
                
                
                
            <div class="row">
                <div class="col-md-3">
                
                {{ chapter_instance_action.action_string_hr }} 
                    
                </div>
                <div class="col-md-3">
                    {{ chapter_instance_action.action_string }} 
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled components">
                        <li class="active">
                            <div>
                            <a href="#display_state1_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Full State
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state1_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_all }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_all }}", "display_state1_{{ loop.index }}");
                            </script>
                        </li>
                        
                        <li class="active">
                            <div>
                            <a href="#display_state2_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Positive change 
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state2_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              <span class="font-italic text-info">State predicates that were added by the action</span><br>
                              <span class="text-success">[+]</span> {{ chapter_instance_action.positive_change_hrparagraph }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph_ext("{{ chapter_instance_action.positive_change_hrparagraph }}", "display_state2_{{ loop.index }}", "pos")
                            </script>
                        </li>

                        <li class="active">
                            <div>
                            <a href="#display_state3_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Negative change
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state3_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              <span class="font-italic text-info">State predicates that were removed by the action</span><br>
                              <span class="text-danger">[-]</span> <s>{{ chapter_instance_action.negative_change_hrparagraph }}</s>
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph_ext("{{ chapter_instance_action.negative_change_hrparagraph }}", "display_state3_{{ loop.index }}", "neg")
                            </script>

                        </li>
                        
                        <li class="active">
                            <div>
                            <a href="#display_state4_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Normal Predicates Only
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state4_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_norm_only }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_norm_only }}", "display_state4_{{ loop.index }}");
                            </script>
                        </li>
                        <li class="active">
                            <div>
                            <a href="#display_state5_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Intention Predicates Only
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state5_{{ loop.index }}">
                              <!--
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_intentions_only }}
                              </div>
                              -->
                            </div>
                            <script>
                            parse_hr_paragraph("{{ chapter_instance_action.final_state_hrparagraph_intentions_only }}", "display_state5_{{ loop.index }}");
                            </script>
                        </li>
                        <!--
                        <li class="active">
                            <div>
                            <a href="#display_state4_{{ loop.index }}" data-toggle="collapse" aria-expanded="false" class="navbar-toggle">
                            Adjacency Predicates Only
                            </a>
                            </div>
                            <div class="collapse container-fluid" id="display_state4_{{ loop.index }}">
                              <div class="content-section">
                              {{ chapter_instance_action.final_state_hrparagraph_adjacency_only }}
                              </div>
                            </div>
                            
                        </li>
                        -->
                    </ul>
                    
                </div>
                
            </div>
                
                {% endif %}
            {% endif %}
                

            
            {% endfor %}
        </div>
      </div>
    </div>
    
    <!--//====================================================================== -->
    
    <div class="row pt-1">
      <div class="col-md-8">
        Narrative Paragraphs
        <a href="#narrative_paragraph_content" data-toggle="collapse" aria-expanded="false" class="navbar-toggle btn btn-info btn-sm">
        <i class="fas fa-caret-down"></i>
        </a>
        <span class="font-italic text-info small">Experimental attempt at convertion to natural language</span>
        <br><br>
      </div>
    </div>
    
    <div class="row collapse" id="narrative_paragraph_content">
      <div class="col-md-12">    
        <div class="content-section">

        {% for some_hr in hrsequence %}
            <p>
            {% autoescape false %}
            {{  some_hr.hrparagraph }}
            {% endautoescape %}
            
            {% if '[Intro' not in some_hr.hrparagraph and '[Finale' not in  some_hr.hrparagraph %} 
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#hr_sequence_modal_{{ loop.index }}">
            <i class="fas fa-chevron-right"></i>
            </button>
            {% endif %}
            
            </p>
			

			<div class="modal fade" id="hr_sequence_modal_{{ loop.index }}" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content" style="background-color: #f0f0f0;">
					<div class="modal-header">
					  <h4 class="modal-title">Additional Action Information</h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p class="small text-info font-italic">
                        These intentions "explain" why the action was taken. This means that 
                        there are possibilities/branches that these intentions are fulfilled.
                        </p>
					    
                        <div class="form-group">
                          <div class="row">
						  	<div class="col-md-3">
						  		Primary
						  	</div>
						  	<div class="col-md-8 small">
                            {% autoescape false %}
						  		{{ some_hr.explained_by_hr | replace(";", "<br/>") }}
                            {% endautoescape %}
						  	</div>
                          </div>  
                          <div class="row">
						  	<div class="col-md-12">
                                <p class="small text-info font-italic">
                                The owners of these intentions are participating/consenting agents in
                                the action performed
                                </p>
                            </div>
                          </div>
                          
                          
                          <div class="row">
						  	<div class="col-md-3">
						  		Contributary
						  	</div>
						  	<div class="col-md-8 small">
						  		
                            {% autoescape false %}
						  		{{ some_hr.contributary_hr | replace(";", "<br/>") }}
                            {% endautoescape %}
						  	</div>
                          </div>
                          <div class="row">
						  	<div class="col-md-12">
                                <p class="small text-info font-italic">
                                The owners of these intentions are NOT participating/consenting agents in
                                the action performed, but the action MAY contribute to their intentions
                                </p>
                            </div>
                          </div>
                          
                          
                        </div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				  </div>
				  
				</div>
			</div>
			
			
        {% endfor %}
        </div>
      </div>
    </div>
    
    
    <!--//====================================================================== -->

    <div class="row pt-1">
      <div class="col-md-8">
        Plan Graph Visualization
        <a href="#plan_graph_visualization" data-toggle="collapse" aria-expanded="false" class="navbar-toggle btn btn-info btn-sm">
        <i class="fas fa-caret-down"></i>
        </a>
        <span class="font-italic text-info small"></span>
        <br><br>
      </div>
    </div>
    
    <div class="row collapse" id="plan_graph_visualization">
      <div class="col-md-12">    
        <div class="content-section">
            <div class="row">
            <div class="col-md-6">
                {% for somechapter in plan_chapter_instances %}
                     <button type="button" id="load_chapter_plan_graph_{{ somechapter.id }}" onclick="load_chapter_plan_graph('{{ somechapter.id }}');" class="btn btn-default btn-sm">{{ somechapter.chapter_label }}</button>
                     
                     <br>
                {% endfor %}
            </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="content-section">
                        <style type="text/css">
                        .vis-display {
                          display:block;
                          width:960px;
                          height:800px;
                          border:solid;
                          background-color:white;
                        }
                        </style>
                        <div class="vis-display" id="plan_graph_display">Network Graph</div>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <script>
    var pg_nodes = [
//       {
//         id:"a",
//         label:"A"
//       },
//       {
//         id:"b",
//         label:"B"
//       }
    ];
    var pg_edges = [
//          {
//            from:"a",
//            to:"b"
//           }
    ];

    var pg_data = {
    nodes: pg_nodes,
    edges: pg_edges,
    };
    
    var pg_options = {
        edges: {
            arrows:'to'
        },
        layout: {
            randomSeed: 101
        }
    };
    //var container = document.querySelector('.network');
    var pg_container = document.getElementById('plan_graph_display')
    
    function spawnPG_NetworkObject(){
        
        network = new vis.Network(pg_container, pg_data, pg_options);
        
    }
    
    function draw_plan_graph(plan_graph_nodes_raw, plan_graph_edges_raw, solution_nodes_raw){
        
        var solution_nodes = []
        var solution_edges = []
        
        raw_rows = solution_nodes_raw.split("/|")
        for(i=0; i<raw_rows.length; i++){
            split_row = raw_rows[i].split("/;")
            if(split_row.length > 1){
                solution_nodes.push(split_row[1])
                console.log("SOLUTION NODE: " + split_row[1])
                //alert(split_row[1])
                //if(split_row[0] != ""){
                //solution_edges.push(split_row[0] + "_to_" + split_row[1])
                solution_edges.push("_to_" + split_row[1])
                console.log("SOLUTION EDGE: " + split_row[0] + "_to_" + split_row[1])
                
                    //alert(split_row[0] + "_to_" + split_row[1])
                    //console.log(split_row[0] + "_to_" + split_row[1])
                //}
            }
        }
        
        console.log("=======================")
        
        var pg_nodes = []
        /*
        run_id
        node_label
        layer
        last_action
        achieved_author_goals
        */
        
        //alert(plan_graph_nodes_raw)
        raw_rows = plan_graph_nodes_raw.split("/|")
        for(i=0; i<raw_rows.length; i++){
            split_row = raw_rows[i].split("/;")
            if(split_row.length > 1){
                
                _temp_result = split_row[1].split("|")
                somenode_node_label     = _temp_result[1]
                somenode_readable_label = split_row[3]
                
                //console.log(somenode_node_label)
                
                var solution_flag = false
                for(j=0; j<solution_nodes.length; j++){
                    
                    //console.log("solution_nodes[j]  : " + solution_nodes[j])
                    //if(solution_nodes[j].includes(somenode_node_label)){
                    if(somenode_node_label.includes(solution_nodes[j])){
                        solution_flag = true
                        break;
                    }
                }
                
                //if(solution_nodes.includes(somenode_node_label)){
                if(solution_flag){

                    var new_node = {
                        id      :somenode_node_label,
                        label   :somenode_readable_label,
                        color   :'#ff8080'
                    }
                }else{
                    var new_node = {
                        id      :somenode_node_label,
                        label   :somenode_readable_label
                    }
                }
                pg_nodes.push(new_node)
            }
        }
        
        var pg_edges = []
        var pg_edge_attendance = []
        
        //alert(plan_graph_edges_raw)
        raw_rows = plan_graph_edges_raw.split("/|")
        for(i=0; i<raw_rows.length; i++){
            split_row = raw_rows[i].split("/;")
            if(split_row.length > 1){
                
                _temp_result = split_row[0].split("|")
                someedge_from_node = _temp_result[1]
                
                _temp_result = split_row[1].split("|")
                someedge_to_node   = _temp_result[1]
                
                var edge_label = someedge_from_node + "_to_" + someedge_to_node
                var solution_edge_label = "_to_" + someedge_to_node
                
                if(solution_edges.includes(solution_edge_label)){
                    console.log("DRAW SOLUTION EDGE: " + edge_label)
                    var new_edge = {
                        id:edge_label,
                        from:someedge_from_node,
                        to  :someedge_to_node,
                        color: '#ee0000'
                    }
                }else{
                    console.log("NOT SOLUTION EDGE: " + edge_label)
                    var new_edge = {
                        id:edge_label,
                        from:someedge_from_node,
                        to  :someedge_to_node,
                        color: '#000000'
                    }
                }
                
                if(pg_edge_attendance.includes(someedge_from_node + "_to_" + someedge_to_node)){
                
                }else{
                    pg_edges.push(new_edge)
                    pg_edge_attendance.push(someedge_from_node + "_to_" + someedge_to_node)
                }
                
            }
        }
        
        
        pg_data = {
        nodes: pg_nodes,
        edges: pg_edges,
        }
        
        spawnPG_NetworkObject()
    }
    
    function load_chapter_plan_graph(plan_chapter_instance_id){
        
        //alert(plan_chapter_instance_id)
        filter_mode = "plan_chapter_instance_id"
        filter_value = plan_chapter_instance_id + "|"
        
        $.getJSON($SCRIPT_ROOT + '/_get_plan_graph_nodes_lite', {
            filter_mode     : filter_mode,
            filter_value    : filter_value
        }, function(data) {
            plan_graph_nodes_raw = data.result
            
            $.getJSON($SCRIPT_ROOT + '/_get_plan_graph_edges', {
                filter_mode     : filter_mode,
                filter_value    : filter_value
            }, function(data) {
                plan_graph_edges_raw = data.result
                
                $.getJSON($SCRIPT_ROOT + '/_get_plan_graph_solution_nodes', {
                    chapter_id   : plan_chapter_instance_id
                }, function(data) {
                
                    solution_nodes_raw = data.result
                    //alert(solution_nodes_raw)
                    draw_plan_graph(plan_graph_nodes_raw, plan_graph_edges_raw, solution_nodes_raw)
                });
            });
        });
    }
    
    </script>
    
    
    <!--//====================================================================== -->
    
    <script>
        function ValidateEmail(inputId){
            //alert(inputId)
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            var inputField = document.getElementById(inputId)
            
            if(inputField.value.match(mailformat)){
                return true;
            }else{
                alert("You have entered an invalid email address!");
                return false;
            }
        }
        
        function question_selection_onclick(question,selection,max,offset){
        
            for (i = 1; i <= max; i++) {
                if(i != selection){
                    document.getElementById("question_"+question+"_" + i).classList.remove("btn-info")
                    document.getElementById("question_"+question+"_" + i).classList.add("btn-default")
                }else{
                    document.getElementById("question_"+question+"_" + i).classList.remove("btn-default")
                    document.getElementById("question_"+question+"_" + i).classList.add("btn-info")
                }
                document.getElementById("question_"+question+"_value").value = selection - offset
            }
                                
        }
        
        function grade_hover(grade, id){
            
            //alert(id)
            
            switch(grade){
            
            case 1: document.getElementById(id + "_grade_description").innerHTML = "Not helpful at all"
                    break;
            case 2: document.getElementById(id + "_grade_description").innerHTML = "ISLA has a tiny glimmer of potential"
                    break;
            case 3: document.getElementById(id + "_grade_description").innerHTML = "Useful, but needs mores improvements in many areas"
                    break;
            case 4: document.getElementById(id + "_grade_description").innerHTML = "Very useful, needs some improvements in some key areas"
                    break;
            case 5: document.getElementById(id + "_grade_description").innerHTML = "ISLA is the perfect embodiment of an author's assistant"
                    break;
                                        
            }
            
            for (i = 1; i <= 5; i++){
                if(i <= grade){
                    document.getElementById(id + "_" + i).innerHTML = "star"
                }else{
                    document.getElementById(id + "_" + i).innerHTML = "star_border"
                }
            }
            
            document.getElementById(id + "_value").value = grade
        }
        
        function grade_click(grade, id){
        
        }
    </script>
    
    <div class="row">
      <div class="col-md-8">
        Add A Review
        <a href="#add_review_content" data-toggle="collapse" aria-expanded="true" class="navbar-toggle btn btn-info btn-sm">
        <i class="fas fa-caret-down"></i>
        </a>
        <br><br>
      </div>
    </div>
    
    <div class="row show" id="add_review_content">
      <div class="col-md-12">
        <div class="content-section">

            <!--
        # Survey questions
        #   [Narrative Output]
        #   1. Scale of 1-10, how much sense does the narrative have?
        #   2. In your opinion, how much time does an average human need to produce the same narrative?
        #      2.a [Optional] Can you please provide a short explanation?
        #   3. Adjectives to describe the narrative output
        #      3.a [Optional] Can you please provide a short explanation?
        
        #   [Interface / Website]
        #   1. Scale of 1-10, how user-friendly is the site? (forms and displays)
        #   
        
        #   [Suggestions]
        #   1. Which features needs improvement?
        #   2. Which features are lacking?
        #   3. Which features are satisfactory?
            -->
            
            
            
            
            
            
              <div class="row pt-1">
                <div class="col-md-12">
                  <br>
                  <span class="text-secondary font-weight-bold">
                    User Information
                  </span>
    
                </div>
              </div>
              
              <div class="row pt-1">
                <div class="col-md-2">
                Nickname
                </div>
                <div class="col-md-2">
                  {% if current_user.is_authenticated %}
                  <input type="text" class="form-control" id="user_nickname" value="{{ current_user.username }}" >
                  {% else %}
                  <input type="text" class="form-control" id="user_nickname" value="">
                  {% endif %}
                </div>
              </div>
              
              <div class="row pt-1">
                <div class="col-md-2">
                Email address <span class="text-danger">*</span>
                </div>
                <div class="col-md-2">
                  {% if current_user.is_authenticated %}
                  <input type="text" class="form-control" id="user_email" value="{{ current_user.email }}" disabled>
                  {% else %}
                  <input type="text" class="form-control" id="user_email" value="" onchange="ValidateEmail('user_email');">
                  {% endif %}
                </div>
              </div>
              
              
              
              <div class="row pt-1">
                <div class="col-md-12">
                  <br>
                  <span class="text-secondary font-weight-bold">
                    Narrative Output
                  </span>
                  
                </div>
              </div>
              
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">1.</span>
                  Did you find ISLA easy to use?
                </div>
              </div>

              <div class="row">
                <div class="col-md-10">
                
                    <button type="button" id="question_1_1" onclick="question_selection_onclick(1,1,7,4);" class="btn btn-default btn-sm">Strongly Disagree</button>
                    <button type="button" id="question_1_2" onclick="question_selection_onclick(1,2,7,4);" class="btn btn-default btn-sm">Disgree</button>
                    <button type="button" id="question_1_3" onclick="question_selection_onclick(1,3,7,4);" class="btn btn-default btn-sm">Slightly Disagree</button>
                    <button type="button" id="question_1_4" onclick="question_selection_onclick(1,4,7,4);" class="btn btn-info btn-sm">Neutral / No Opinion</button>
                    <button type="button" id="question_1_5" onclick="question_selection_onclick(1,5,7,4);" class="btn btn-default btn-sm">Slightly Agree</button>
                    <button type="button" id="question_1_6" onclick="question_selection_onclick(1,6,7,4);" class="btn btn-default btn-sm">Agree</button>
                    <button type="button" id="question_1_7" onclick="question_selection_onclick(1,7,7,4);" class="btn btn-default btn-sm">Strongly Agree</button>
                    
                    <input type="hidden" id="question_1_value" value="0">
                    <br>
                    <br>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">2.</span>
                  Did you find ISLA helpful in layouting stories?
                </div>
              </div>

              <div class="row">
                <div class="col-md-10">
                
                    <button type="button" id="question_2_1" onclick="question_selection_onclick(2,1,7,4);" class="btn btn-default btn-sm">Very Unhelpful</button>
                    <button type="button" id="question_2_2" onclick="question_selection_onclick(2,2,7,4);" class="btn btn-default btn-sm">Unhelpful</button>
                    <button type="button" id="question_2_3" onclick="question_selection_onclick(2,3,7,4);" class="btn btn-default btn-sm">Slightly Unhelpful</button>
                    <button type="button" id="question_2_4" onclick="question_selection_onclick(2,4,7,4);" class="btn btn-info btn-sm">Doesn't matter either way</button>
                    <button type="button" id="question_2_5" onclick="question_selection_onclick(2,5,7,4);" class="btn btn-default btn-sm">Slightly Helpful</button>
                    <button type="button" id="question_2_6" onclick="question_selection_onclick(2,6,7,4);" class="btn btn-default btn-sm">Helpful</button>
                    <button type="button" id="question_2_7" onclick="question_selection_onclick(2,7,7,4);" class="btn btn-default btn-sm">Very Helpful</button>
                    
                    <input type="hidden" id="question_2_value" value="0">
                    <br>
                    <br>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">3.</span>
                  How sensible is this particular [generated] story?
                </div>
              </div>

              <div class="row">
                <div class="col-md-10">
                
                    <button type="button" id="question_3_1" onclick="question_selection_onclick(3,1,7,4);" class="btn btn-default btn-sm">Very Nonsensical</button>
                    <button type="button" id="question_3_2" onclick="question_selection_onclick(3,2,7,4);" class="btn btn-default btn-sm">Nonsensical</button>
                    <button type="button" id="question_3_3" onclick="question_selection_onclick(3,3,7,4);" class="btn btn-default btn-sm">Slightly Nonsensical</button>
                    <button type="button" id="question_3_4" onclick="question_selection_onclick(3,4,7,4);" class="btn btn-info btn-sm">Nothing special</button>
                    <button type="button" id="question_3_5" onclick="question_selection_onclick(3,5,7,4);" class="btn btn-default btn-sm">Slightly Sensible</button>
                    <button type="button" id="question_3_6" onclick="question_selection_onclick(3,6,7,4);" class="btn btn-default btn-sm">Sensible</button>
                    <button type="button" id="question_3_7" onclick="question_selection_onclick(3,7,7,4);" class="btn btn-default btn-sm">Very Sensible</button>
                    
                    <input type="hidden" id="question_3_value" value="0">
                    <br>
                    <br>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">4.</span>
                  In your opinion, how helpful is ISLA as a tool for authors / creative writers?
                </div>
              </div>

              <div class="row">
                <div class="col-md-10">
                    
                    <span style="cursor: pointer;" id="question_4_1" _ngcontent-auf-c19="" onmouseover="grade_hover(1, 'question_4')" onclick="grade_hover(1, 'question_4')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_4_2" _ngcontent-auf-c19="" onmouseover="grade_hover(2, 'question_4')" onclick="grade_hover(2, 'question_4')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_4_3" _ngcontent-auf-c19="" onmouseover="grade_hover(3, 'question_4')" onclick="grade_hover(3, 'question_4')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_4_4" _ngcontent-auf-c19="" onmouseover="grade_hover(4, 'question_4')" onclick="grade_hover(4, 'question_4')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_4_5" _ngcontent-auf-c19="" onmouseover="grade_hover(5, 'question_4')" onclick="grade_hover(5, 'question_4')" class="material-icons icon-image-preview">star_border</span>
                    
                    <div>
                        <span id="question_4_grade_description" class="font-italic text-info">
                        Potato
                        </span>
                    </div>

                    <input type="hidden" id="question_4_value" value="0">
                    <br>
                </div>
              </div>
              
              
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">5.</span>
                  In your opinion, how helpful is ISLA as a tool for game developers / game content creators?
                </div>
              </div>

              <div class="row">
                <div class="col-md-10">
                    
                    <span style="cursor: pointer;" id="question_5_1" _ngcontent-auf-c19="" onmouseover="grade_hover(1, 'question_5')" onclick="grade_hover(1, 'question_5')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_5_2" _ngcontent-auf-c19="" onmouseover="grade_hover(2, 'question_5')" onclick="grade_hover(2, 'question_5')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_5_3" _ngcontent-auf-c19="" onmouseover="grade_hover(3, 'question_5')" onclick="grade_hover(3, 'question_5')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_5_4" _ngcontent-auf-c19="" onmouseover="grade_hover(4, 'question_5')" onclick="grade_hover(4, 'question_5')" class="material-icons icon-image-preview">star_border</span>
                    <span style="cursor: pointer;" id="question_5_5" _ngcontent-auf-c19="" onmouseover="grade_hover(5, 'question_5')" onclick="grade_hover(5, 'question_5')" class="material-icons icon-image-preview">star_border</span>
                    
                    <div>
                        <span id="question_5_grade_description" class="font-italic text-info">
                        Potato
                        </span>
                    </div>

                    <input type="hidden" id="question_5_value" value="0">
                    <br>
                </div>
              </div>
              
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">6.</span>
                  What adjectives are best uses to describe this particular [generated] story? <div class="font-italic text-info small">e.g. structured, incoherent, natural, logical</div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control" id="question_6_value" rows="3" cols="30" ></textarea>
                    <br>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-10">
                  <span class="text-info">7.</span>
                  Do you have any other feedback you want to share?
                </div>
              </div>
                
              <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control" id="question_7_value" rows="3" cols="30" ></textarea>
                </div>
              </div>
                
              <div class="row">
                <div class="col-md-12">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-info btn-sm" id="submit_feedback">Submit</button>
                  </div>
                  
                </div>
              </div>

        </div>
      </div>
    </div>
        

    
    <!-- [JAVSCRIPT AREA] -->
    <script>
    document.getElementById("main-nav-link-storyarchive").className += " active";
    </script>
    
    <script>


    
    $(document).ready(function () {

        $('#narrative_paragraph_toggle').on('click', function () {
            $('#narrative_paragraph_content').toggleClass('active');
        });
        
        $('#action_sequence_toggle').on('click', function () {
            $('#action_sequence_content').toggleClass('active');
        });
        
        

    });
    
    $(function() {
        $('button#submit_feedback').bind('click', function() {
            
            // Check for required values
            var proceed_flag = false
            //current_email = document.getElementById("user_email").value
            
            if(ValidateEmail('user_email')){
                proceed_flag = true
            }
            
            if(proceed_flag){
            
                $.getJSON($SCRIPT_ROOT + '/_submit_feedback', {
                    
                    narrative_id    :  "{{ narrative_instance.narrative_id }}"        ,
                    user_email      :  document.getElementById("user_email").value          ,
                    question_1      :  document.getElementById("question_1_value").value    ,
                    question_2      :  document.getElementById("question_2_value").value    ,
                    question_3      :  document.getElementById("question_3_value").value    ,
                    question_4      :  document.getElementById("question_4_value").value    ,
                    question_5      :  document.getElementById("question_5_value").value    , 
                    question_6      :  document.getElementById("question_6_value").value    ,
                    question_7      :  document.getElementById("question_7_value").value    

                    
                }, function(data) {
                    alert("Survey submitted! Thank you for your participation");
                });
            
            }else{
            
            }
            
        });
    });
    </script>
{% endblock content %}