{% extends "layout_default.html" %}

{% block content %}
<script>
document.getElementById("main-nav-link-ncs").className += " active";
</script>

<script type="text/javascript">
    
    function update_sequence_term_info_area(query_result, sequence_term){
    
        if(query_result == ""){
            //document.getElementById('span-result-console').innerHTML = data.result
            return;
        }
        
        console.log("____[start]")
        
        raw_rows = query_result.split("/|")    
        
        output_HTML = ""
        output_HTML = output_HTML + "<div class='row pt-1'>\n"
        output_HTML = output_HTML + "  <div class='col-md-10 text-secondary font-weight-bold'>\n"
        output_HTML = output_HTML + "  "+sequence_term+"\n"
        output_HTML = output_HTML + "  </div>\n"
        output_HTML = output_HTML + "</div>\n"
            
        for(i=0; i<raw_rows.length; i++){

            split_row = raw_rows[i].split("/;")
            
            if(split_row.length == 12){
                // someseqterms.main_label)                     + "/;" + \
                // someseqterms.sub_label)                      + "/;" + \
                // someseqterms.term_sequence)                  + "/;" + \
                // someseqterms.term_sequence_grouping_label)   + "/;" + \
                // someseqterms.series)                           + "/;" + \
                // someseqterms.sequence_term_full_label)       + "/;" + \
                // someseqterms.main_object)                    + "/;" + \
                // someseqterms.supporting_objects)             + "/;" + \
                // someseqterms.intention_actor)                + "/;" + \
                // someseqterms.intention_full_str)             + "/;" + \
                // someseqterms.direct_chained_with)            + "/;" + \
                // someseqterms.successors)                     + "/;" + \
                
                output_HTML = output_HTML + "\t<div class='content-section' id='sequence_term_info_group_"+split_row[3]+"'>\n"
                output_HTML = output_HTML + "\t  <div class='row small'>\n"
                output_HTML = output_HTML + "\t    <div class='col-md-12' id='"+split_row[4]+"'>\n"
                
                output_HTML = output_HTML + "\t<table class='table-striped'>\n"
                
                
                //    main_label
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Main label</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[0]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    sub_label
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Sub label</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[1]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    term_sequence
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Sequence</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[2]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    term_sequence_grouping_label
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Term Sequence Grouping label</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[3]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    sequence_term_full_label
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Full label</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[4]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    main_object
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Main Object</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[5]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    supporting_objects
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Supporting Objects</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[6]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    intention_actor
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Intention Actor</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[7]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    intention_full_str
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Intention Full String</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[8]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"
                //    direct_chained_with
                direct_chained_with = split_row[9].split(";")
                
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Direct Chained With</td>\n"
                output_HTML = output_HTML + "\t    <td>"
                
                for(j=0; j<direct_chained_with.length; j++){
                    output_HTML = output_HTML + direct_chained_with[j] + "<br>"
                }
                
                output_HTML = output_HTML + "</td>\n"
                
                output_HTML = output_HTML + "\t  </tr>\n"
                //    successor
                output_HTML = output_HTML + "\t  <tr class='text-break'>\n"
                output_HTML = output_HTML + "\t    <td class='font-weight-bold'>Successor</td>\n"
                output_HTML = output_HTML + "\t    <td>"+split_row[10]+"</td>\n"
                output_HTML = output_HTML + "\t  </tr>\n"

            }
            
            output_HTML = output_HTML + "\t</table>\n"
            
            output_HTML = output_HTML + "\t    </div>\n"
            output_HTML = output_HTML + "\t  </div>\n"
            output_HTML = output_HTML + "\t</div>\n"
            
        }
        
        
        document.getElementById("sequence_term_info_area").innerHTML = output_HTML
    }
    
    function sequence_term_cat_label_onchange(input_id){
        
        $.getJSON($SCRIPT_ROOT + '/_get_sequence_term_extended_info', {
            
            sequence_term_cat_label   :  document.getElementById(input_id).value    
            
        }, function(data) {
            
            update_sequence_term_info_area(data.result, document.getElementById(input_id).value)
            
        });
    
    }
    
    function domain_onchange(){
    
        $.getJSON($SCRIPT_ROOT + '/_get_sequence_term_categories_by_domainlabel', {
            domain_full_label   :  document.getElementById("domain_full_label").value    
        }, function(data) {
            update_sequence_terms_input_area(data.result)
        });
    }
    
    function update_sequence_terms_input_area(raw_result){
        
        raw_rows = raw_result.split("/|")    
        
        //=======
        
        output_HTML = ""
        for(term_ctr=1;term_ctr<=6;term_ctr++){
        
            output_HTML = output_HTML + "<div class='row pt-1'>\n"
            output_HTML = output_HTML + "    <div class='col-md-2'>\n"

            output_HTML = output_HTML + "    </div>\n"
            output_HTML = output_HTML + "    <div class='col-md-4'>\n"
            output_HTML = output_HTML + "    <select class='form-control-sm' id='sequence_term_cat_label_0"+term_ctr+"' onchange=\"sequence_term_cat_label_onchange('sequence_term_cat_label_0"+term_ctr+"');\">\n"
            output_HTML = output_HTML + "        <option value='NULL'>--None--</option>\n"
            
            
            for(i=0; i<raw_rows.length; i++){
                split_row = raw_rows[i].split("/;")
                
                if(split_row.length == 9){
                    output_HTML = output_HTML + "        <option value='"+split_row[1]+"'>"+split_row[1]+"</option>\n"
                }
            }
            output_HTML = output_HTML + "    </select>\n"
            output_HTML = output_HTML + "    </div>\n"
            output_HTML = output_HTML + "</div>\n"
        }
        
        document.getElementById("sequence_terms_input_area").innerHTML = output_HTML
    }
    
</script>


<!-- [ Header ] -->
<div class="content-section">
    <div class="row pt-1">
        <div class="col-md-8">
            <h3 class="display-5">Add New Chapter Pattern</h3>
            <div class="small text-info font-italic">
            <!--*Tooltip area thingie-->
            </div>
        </div>
        <div class="col-md-2">
            <!--Extra area-->
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-8">
        Chapter patterns is a template which ISLA will create a plan from
        </div>
    </div>
</div>

<!-- [ Body ] -->
<div class="content-section">
    <div class="row form-group">
        <div class="col-md-8">
            <h3 class="display-5">General Information</h3>
            <div class="small text-info font-italic">
            <!--*Tooltip area thingie-->
            </div>
        </div>
        <div class="col-md-2">
            <!--Extra area-->
        </div>
    </div>
        
    <div class="row pt-1">
        <div class="col-md-3">
        Main Label
        </div>
        <div class="col-md-4">
        <input class="form-control" type="text" size="32" id="main_label" value="">
        </div>
        <div class="col-md-4">
        <input class="form-control" type="hidden" size="32" id="chapter_pattern_cat_label" value="Custom">
        
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-3">
        Sub-label
        </div>
        <div class="col-md-4">
        <input class="form-control" type="text" size="32" id="sub_label" value="">
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-3">
        Pattern Sequence
        </div>
        <div class="col-md-4">
        <input class="form-control" type="number" min="1" style="width: 80px;" id="pattern_sequence" value="1" data-bind="value:replyNumber">
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-3">
        Domain
        </div>
        <div class="col-md-4">
            <select class="form-control" id="domain_full_label" onchange="domain_onchange()">
              <option value="" selected>--Select one--</option>
              {% for somedomain in domains %}
              <option value="{{ somedomain.domain_full_label }}">{{ somedomain.readable_label }}</option>
              {% endfor %}
            </select>
            <input class="form-control" type="hidden" value="" id="domain_id">
            <input class="form-control" type="hidden" value="" id="domain_full_label">
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-3">
        Description 
            <div class="small text-danger font-italic">
            * Commas are not allowed!
            </div>
        </div>
        <div class="col-md-4">
            <textarea class='form-control'  id="chapter_pattern_description" rows="3" cols="32"></textarea>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-3">
        Visibility
        </div>
        <div class="col-md-4">
            <select class="form-control" id="visibility">
              <option value="PRIVATE-WRITE">Private</option>
              <option value="PUBLIC-READONLY">Public - Read Only</option>
              <option value="PUBLIC-WRITE">Public - Full Privileges</option>
            </select>
        </div>
    </div>

            

</div>

<div class="content-section">

    <div class="row form-group">
        <div class="col-md-8">
            <h3 class="display-5">Sequence Terms</h3>
            <div class="small text-info font-italic">
            <!--*Tooltip area thingie-->
            </div>
        </div>
        <div class="col-md-2">
            <!--Extra area-->
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-6">
            
            <div id="sequence_terms_input_area">
            </div>

        </div>
        
        <div class="col-md-6">
            <div class="content-section collapse" id="sequence_term_info_area">
            </div>
        </div>
    </div>
    <div class="btn-group">
    <button type="button" class="btn btn-info btn-sm" id="submit_pattern_instance">Submit</button>
    </div>
</div>
    

<script>
    
    // Update 
    
    
    
    //    AJAX Submit
    $(function() {
        $('button#submit_pattern_instance').bind('click', function() {
    
            $.getJSON($SCRIPT_ROOT + '/_submit_pattern_instance', {
                
                chapter_pattern_cat_label   :  document.getElementById("chapter_pattern_cat_label").value     ,
                main_label                  :  document.getElementById("main_label").value                    ,
                sub_label                   :  document.getElementById("sub_label").value                     ,
                pattern_sequence            :  document.getElementById("pattern_sequence").value              ,
                domain_full_label           :  document.getElementById("domain_full_label").value             ,
                chapter_pattern_description :  document.getElementById("chapter_pattern_description").value   ,
                visibility                  :  document.getElementById("visibility").value                    ,
                sequence_term_cat_label_01  :  document.getElementById("sequence_term_cat_label_01").value    ,
                sequence_term_cat_label_02  :  document.getElementById("sequence_term_cat_label_02").value    ,
                sequence_term_cat_label_03  :  document.getElementById("sequence_term_cat_label_03").value    ,
                sequence_term_cat_label_04  :  document.getElementById("sequence_term_cat_label_04").value    ,
                sequence_term_cat_label_05  :  document.getElementById("sequence_term_cat_label_05").value    ,
                sequence_term_cat_label_06  :  document.getElementById("sequence_term_cat_label_06").value
                
            }, function(data) {
                alert("DONE!");
            });
        });
    });
    </script>
{% endblock content %}